.menu{
    display: flex;
}
.menu li{
    width: 200px;
    list-style: none;
    background: #383c54;
    position: relative;
    border-radius:20px;
}
.menu a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0 10px;
    line-height:50px;
    transition: all .5s;
    margin: 5px;
    border-radius: 20px;
}
.menu a:hover{
    background: #808291;

}
.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;

}
.menu li:hover >ul{
    display: block;
}
.menu ul ul {
    display: none;
    top: 0;
    left: 100%;
}